<p class="text-danger">aboutus works!</p>
<h1>aboutus page of batch 18</h1>
<img src="../../assets/images/boy.jpg" alt="no imgs" width="250px" height="250px">
<img src="../../assets/pics/bg3.jpg" alt="no img" width="250px" height="250px">
<div>
    Date:{{today}}
</div>
<div>
    date with pipe:{{today | date}}
    <br>
    {{today | date:'short'}}
</div>
<div>
    Uppercase:{{name | lowercase}}
</div>
<div>
    initcapcase:{{name | titlecase}}
</div>

<div>
    salary:{{salary | currency:'INR'}}
</div>
<div>
    rate of interest:{{rateofinterest | percent}}
</div>

<div>
    number square:{{n | square}}
</div>








