<!--<p>contactus works!</p>

 {{name}}
{{n}}
 

<input type="text" [value]=name>
<h1 [innerHTML]=n></h1>
<img [src]=imgurl alt="no img">

<input type="text" #ref>
<button (click)="test(ref.value)">clickme</button><br><br>

<button (click)="incrementnumber()">increment</button>
<h1>{{counter}}</h1>

<input type="text" [(ngModel)]=m>
{{m}}


<div>
    <button class="btn btn-warning" (click)="changestatus()">{{status?"hide":"show"}}</button>
</div>
<h1 *ngIf="status">welcome</h1>

<ul *ngFor="let v of numbers">
    <li>{{v}}</li>
</ul>

<div class="container">
    <form #ref='ngForm' (ngSubmit)="sendData(ref)">
    <div class="forms-group">
        <label for="n">Enter your name</label>
        <input type="text" id="n" class="forms-control" #ref>
    </div>
    <button class="btn btn-warning" (click)="addName(ref.value)"> add name to list</button>
</form>
</div>
<div>
    <h1>list of names</h1>
    <ul *ngFor="let x of names">
        <li>{{x}}</li>
    </ul>
</div>









<div class="container">
<div class=form-group>
<label for="n">Enter A Name </label>
<input type="text" id='n'class="form-control" #ref1>
<button class="btn btn-success mt-4"(click)="addName(ref1.value)">Add name to List</button>
</div>
<div>
  <h1 class="text-center text-warning">List of Names </h1>
  <hr>
  <ul *ngFor="let n of names">
    <li>{{n}}</li>
  </ul>
</div>
</div>


<table class="table">
    <tr>
        <th>Rollno</th>
        <th>Name</th>
        <th>Branch</th>
        <th>Fee</th>
    </tr>
    <tr *ngFor="let s of studentData">
        <td>{{s.rollno}}</td>
        <td>{{s.name}}</td>
        <td>{{s.branch}}</td>
        <td>{{s.fee}}</td>
    </tr>
</table>-->




